.unsplashkv3vk3eevew-icon8 {
  height: 61px;
  width: 60px;
  position: relative;
  border-radius: var(--br-981xl);
  object-fit: cover;
}
.alice-zukabeng8 {
  position: relative;
  display: inline-block;
  min-width: 106px;
  flex-shrink: 0;
}
.post-three-content {
  height: 19px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
}
.this-kind-of3 {
  height: 20px;
  position: relative;
  font-size: var(--font-size-mini);
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.post-three-image,
.post-two-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.post-two-description {
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs);
}
.post-two-author-info,
.post-two-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.post-two-author-info {
  align-items: flex-end;
  gap: var(--gap-7xs);
}
.post-two-content {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 var(--padding-mid) var(--padding-2xs);
}
.unsplashbu8texhspcy-icon6 {
  height: 271px;
  flex: 1;
  position: relative;
  border-radius: var(--br-8xs);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.homepage-posts-child {
  height: 17.2px;
  width: 79px;
  position: absolute;
  margin: 0 !important;
  right: 17px;
  bottom: 7.8px;
}
.homepage-posts {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mid) var(--padding-15xl);
  position: relative;
}
.homepage-posts,
.homepage-posts-item,
.homepage-posts1 {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.homepage-posts-item {
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-gray-100);
}
.homepage-posts1 {
  height: 1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-28xl) 0 var(--padding-27xl);
  flex-shrink: 0;
}
.unsplashm58gp7tam54-icon8 {
  width: 54px;
  height: 49px;
  position: relative;
  border-radius: var(--br-981xl);
  object-fit: cover;
}
.post-four-author-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.mark-anderson8 {
  position: relative;
  display: inline-block;
  min-width: 104px;
}
.are-those-oil3 {
  position: relative;
  z-index: 1;
}
.comment,
.post-four-action,
.post-four-author-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.comment {
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
  font-size: var(--font-size-mini);
}
.post-four-action,
.post-four-author-info {
  flex-direction: column;
}
.post-four-author-info {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-xl);
}
.post-four-content {
  width: 212px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs-2);
  box-sizing: border-box;
}
.post-four-image-child {
  height: 17.2px;
  width: 79px;
  position: relative;
}
.post-four-image {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.post-three-description {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mid) var(--padding-8xs-8) var(--padding-mini);
}
.homepage-posts-inner,
.homepage-posts2,
.post-three-description {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.homepage-posts-inner {
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-gray-100);
}
.homepage-posts2 {
  height: 7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-28xl) var(--padding-7xs) var(--padding-27xl);
  flex-shrink: 0;
}
.unsplashbu8texhspcy-icon7 {
  height: 271px;
  width: 396px;
  position: absolute;
  margin: 0 !important;
  bottom: -168px;
  left: 0;
  border-radius: var(--br-8xs);
  object-fit: cover;
}
.unsplash6g2g6-rq-b0-icon11 {
  height: 49px;
  width: 54px;
  position: relative;
  border-radius: var(--br-981xl);
  object-fit: cover;
}
.yolanda-harts11 {
  position: relative;
  display: inline-block;
  min-width: 96px;
  flex-shrink: 0;
}
.yolanda-harts-wrapper {
  height: 19px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.masterpiece4 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-mini);
  flex-shrink: 0;
  white-space: nowrap;
  z-index: 1;
}
.name-container,
.profile-name1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.name-container {
  align-self: stretch;
  justify-content: flex-start;
}
.profile-name1 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
}
.image-info,
.image-post,
.post-content2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.image-info {
  width: 207px;
  align-items: flex-end;
  gap: var(--gap-lg);
}
.image-post,
.post-content2 {
  align-items: flex-start;
  max-width: 100%;
}
.post-content2 {
  flex: 1;
  padding: 0 0 var(--padding-94xl);
  box-sizing: border-box;
}
.image-post {
  width: 413px;
  position: relative;
}
.share-button-child {
  height: 104px;
  width: 106px;
  position: relative;
  z-index: 1;
}
.share-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-5xs) var(--padding-xs);
}
.component-4-icon2 {
  height: 64px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  z-index: 1;
}
.more-options {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xs);
}
.homepage-posts3,
.line-div,
.more-options {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.line-div {
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-gray-100);
}
.homepage-posts3 {
  height: 13px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-28xl) var(--padding-xs) var(--padding-27xl);
  flex-shrink: 0;
}
.unsplashzawar1fkomw-icon7 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-981xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-info1 {
  height: 50px;
  width: 57px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.noir-komi5 {
  position: relative;
  display: inline-block;
  min-width: 67px;
}
.more3 {
  font-weight: 300;
}
.what-do-you-container2 {
  position: relative;
  z-index: 1;
}
.what-do-you-guys-think-of-nyas-wrapper {
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
  margin-top: -5px;
  font-size: var(--font-size-mini);
}
.noir-komi-parent,
.profile-info-inner,
.what-do-you-guys-think-of-nyas-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.noir-komi-parent {
  flex-direction: column;
  flex-shrink: 0;
}
.profile-info-inner {
  align-self: stretch;
  flex-direction: row;
}
.profile-info-child {
  width: 79px;
  height: 17.2px;
  position: relative;
  flex-shrink: 0;
}
.profile-info1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  min-width: 211px;
  max-width: 100%;
}
.post-content3,
.post1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.post-content3 {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.post1 {
  justify-content: flex-end;
  padding: 0 var(--padding-mid) var(--padding-7xs-8) var(--padding-3xl);
}
.homepage-posts-child1,
.homepage-posts4,
.post1 {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.homepage-posts-child1 {
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-gray-100);
}
.homepage-posts4 {
  height: 7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-28xl) var(--padding-7xs) var(--padding-27xl);
  flex-shrink: 0;
}
.unsplash6g2g6-rq-b0-icon12 {
  height: 49px;
  width: 54px;
  position: relative;
  border-radius: var(--br-981xl);
  object-fit: contain;
}
.yolanda-harts12 {
  position: relative;
  display: inline-block;
  min-width: 96px;
}
.do-you-like2 {
  position: relative;
  z-index: 1;
}
.do-you-like-culinary-art-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
  margin-top: -2px;
  font-size: var(--font-size-sm);
}
.name-container-wrapper,
.name-container1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.name-container-wrapper {
  align-self: stretch;
  flex-direction: row;
}
.frame-child3 {
  width: 79px;
  height: 17.2px;
  position: relative;
}
.frame-div,
.profile-info2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-div {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-8xs);
}
.profile-info2 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  min-width: 211px;
  max-width: 100%;
}
.image-post1,
.post-content4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.post-content4 {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-smi);
  max-width: 100%;
}
.image-post1 {
  justify-content: flex-end;
  padding: 0 var(--padding-mid) var(--padding-9xs-8) var(--padding-3xl);
}
.homepage-posts-child2,
.homepage-posts5,
.image-post1 {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.homepage-posts-child2 {
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-gray-100);
}
.homepage-posts5 {
  height: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-28xl) var(--padding-10xs) var(--padding-27xl);
  flex-shrink: 0;
}
.unsplashkv3vk3eevew-icon9 {
  height: 49px;
  width: 52px;
  position: relative;
  border-radius: var(--br-981xl);
  object-fit: contain;
}
.alice-zukabeng9 {
  position: relative;
  display: inline-block;
  min-width: 106px;
}
.what-are-the {
  position: relative;
  z-index: 1;
}
.what-are-the-best-paints-to-pa-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  margin-top: -4px;
  font-size: var(--font-size-mini);
}
.name-container-child {
  width: 79px;
  height: 17.2px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.name-container2,
.profile-info3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.name-container2 {
  align-self: stretch;
  padding: 0 0 var(--padding-mid-2);
  position: relative;
}
.profile-info3 {
  flex: 1;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
  min-width: 212px;
  max-width: 100%;
}
.post-content5,
.post2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.post-content5 {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-smi);
  max-width: 100%;
}
.post2 {
  justify-content: flex-end;
  padding: 0 var(--padding-mid) var(--padding-7xs-8) var(--padding-3xl);
}
.homepage-posts-child3,
.homepage-posts6,
.post2 {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.homepage-posts-child3 {
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-gray-100);
}
.homepage-posts6 {
  height: 6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-28xl) var(--padding-8xs) var(--padding-27xl);
  flex-shrink: 0;
}
.unsplashm58gp7tam54-icon9 {
  height: 49px;
  width: 54px;
  position: relative;
  border-radius: var(--br-981xl);
  object-fit: cover;
}
.mark-anderson9 {
  position: absolute;
  margin: 0 !important;
  top: -15px;
  left: 0;
  display: inline-block;
  min-width: 104px;
}
.random-street-art2 {
  position: relative;
  font-size: var(--font-size-mini);
  z-index: 1;
}
.post-card-author,
.post-card-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.post-card-content {
  flex-direction: row;
  position: relative;
}
.post-card-author {
  flex-direction: column;
  padding: var(--padding-lgi) 0 0;
}
.homepage-posts7,
.unsplashm58gp7tam54-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.unsplashm58gp7tam54-parent {
  gap: var(--gap-mini);
}
.homepage-posts7 {
  align-self: stretch;
  padding: 0 var(--padding-xl) var(--padding-10xs);
}
.unsplashk0rvudbob4c-icon2 {
  height: 271px;
  flex: 1;
  position: relative;
  border-radius: var(--br-8xs);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.homepage-posts-child4 {
  height: 17.2px;
  width: 79px;
  position: absolute;
  margin: 0 !important;
  right: 17px;
  bottom: 8.8px;
}
.homepage-posts8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mid) var(--padding-18xl);
  position: relative;
}
.homepage-posts-child5,
.homepage-posts8,
.homepage-posts9 {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.homepage-posts-child5 {
  width: 337px;
  position: relative;
  border-top: 1px solid var(--color-gray-100);
}
.homepage-posts9 {
  height: 6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-23xl) var(--padding-8xs);
  flex-shrink: 0;
}
.unsplash6g2g6-rq-b0-icon13 {
  height: 49px;
  width: 54px;
  position: relative;
  border-radius: var(--br-981xl);
  object-fit: cover;
}
.just-beautiful2,
.yolanda-harts13 {
  position: relative;
  display: inline-block;
  min-width: 96px;
  flex-shrink: 0;
}
.just-beautiful2 {
  margin-top: -4px;
  min-width: 121px;
  white-space: nowrap;
  z-index: 1;
}
.just-beautiful-wrapper {
  height: 17px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.profile-info4,
.yolanda-harts-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.profile-info4 {
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs);
}
.post-content6,
.post3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.post-content6 {
  align-items: flex-end;
  gap: var(--gap-xs);
}
.post3 {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 var(--padding-2xl) var(--padding-10xs);
}
.unsplash5mtf9xyvvgm-icon2 {
  height: 271px;
  flex: 1;
  position: relative;
  border-radius: var(--br-8xs);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.homepage-posts-child6 {
  height: 17.2px;
  width: 79px;
  position: absolute;
  margin: 0 !important;
  right: 17px;
  bottom: 6.8px;
}
.homepage-posts10 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mid) var(--padding-14xl);
  position: relative;
}
.homepage-posts-child7,
.homepage-posts10,
.homepage-posts11 {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.homepage-posts-child7 {
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-gray-100);
}
.homepage-posts11 {
  height: 6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-28xl) var(--padding-8xs) var(--padding-27xl);
  flex-shrink: 0;
}
.unsplashkv3vk3eevew-icon10 {
  height: 49px;
  width: 52px;
  position: relative;
  border-radius: var(--br-981xl);
  object-fit: cover;
}
.alice-zukabeng10 {
  position: relative;
  display: inline-block;
  min-width: 106px;
}
.the-art-in2 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-mini);
  white-space: nowrap;
  z-index: 1;
}
.post-content7,
.post4,
.profile-info5 {
  display: flex;
  justify-content: flex-start;
}
.profile-info5 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.post-content7,
.post4 {
  flex-direction: row;
}
.post-content7 {
  width: 283px;
  align-items: flex-end;
  gap: var(--gap-sm);
}
.post4 {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 var(--padding-2xl) var(--padding-7xs);
}
.unsplashjowbip8ea-8-icon {
  height: 271px;
  flex: 1;
  position: relative;
  border-radius: var(--br-8xs);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.homepage-posts-child8 {
  height: 17.2px;
  width: 79px;
  position: absolute;
  margin: 0 !important;
  right: 17px;
  bottom: 6.8px;
}
.homepage-posts12 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mid) var(--padding-13xl);
  position: relative;
}
.homepage-posts-child9,
.homepage-posts12,
.homepage-posts13 {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.homepage-posts-child9 {
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-gray-100);
}
.homepage-posts13 {
  height: 9px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-28xl) var(--padding-5xs) var(--padding-27xl);
  flex-shrink: 0;
}
.unsplashm58gp7tam54-icon10 {
  height: 49px;
  width: 54px;
  position: relative;
  border-radius: var(--br-981xl);
  object-fit: cover;
}
.mark-anderson10 {
  position: relative;
  display: inline-block;
  min-width: 115px;
}
.which-country-is {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-mini);
  font-family: var(--font-ibm-plex-sans-condensed);
  white-space: nowrap;
}
.frame-wrapper1,
.mark-anderson-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mark-anderson-group {
  align-self: stretch;
  justify-content: flex-start;
}
.frame-wrapper1 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
}
.homepage-posts14,
.unsplashm58gp7tam54-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.unsplashm58gp7tam54-group {
  width: 241px;
  align-items: flex-end;
  gap: var(--gap-smi);
}
.homepage-posts14 {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 var(--padding-xl) var(--padding-160xl);
  font-family: var(--font-inria-serif);
}
.homepage-posts-child10 {
  height: 43px;
  width: 79px;
  position: relative;
}
.homepage-posts15 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-6xl) var(--padding-143xl-4);
}
.homepage-posts-child11 {
  height: 43px;
  width: 79px;
  position: relative;
}
.homepage-posts16 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-6xl) var(--padding-118xl-2);
}
.homepage-posts-child12 {
  height: 43px;
  width: 79px;
  position: relative;
}
.homepage-posts17 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-6xl) var(--padding-867xl-1);
}
.load-indicator-child {
  height: 43px;
  width: 79px;
  position: relative;
}
.load-indicator {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-3xl) var(--padding-867xl);
}
.load-indicator-item {
  height: 43px;
  width: 79px;
  position: relative;
}
.load-indicator1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mid) var(--padding-824xl-1);
}
.load-indicator-inner {
  height: 43px;
  width: 79px;
  position: relative;
}
.load-indicator2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-base) var(--padding-123xl-2);
}
.current-page-icon,
.previous-page-icon {
  height: 43px;
  width: 13.9px;
  position: relative;
}
.current-page-icon {
  width: 19px;
}
.current-page-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs-1) 0 0;
}
.next-page-icon {
  width: 8px;
  height: 43px;
  position: relative;
}
.next-page-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.homepage2,
.page-buttons,
.pagination {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.page-buttons {
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.homepage2,
.pagination {
  justify-content: flex-end;
  padding: 0 var(--padding-xl);
}
.homepage2 {
  align-self: stretch;
  height: 2358px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-sm);
  box-sizing: border-box;
  gap: var(--gap-11xs);
  background-image: url(/public/homepage@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-ibm-plex-sans-condensed);
}
@media screen and (max-width: 1100px) {
  .post-content3,
  .post-content4,
  .post-content5,
  .post-four-image,
  .post-two-author-info {
    flex-wrap: wrap;
  }
  .homepage-posts17,
  .load-indicator,
  .load-indicator1 {
    padding-bottom: var(--padding-557xl);
    box-sizing: border-box;
  }
  .load-indicator1 {
    padding-bottom: var(--padding-529xl);
  }
  .homepage2 {
    height: auto;
  }
}
@media screen and (max-width: 450px) {
  .homepage-posts1,
  .homepage-posts11,
  .homepage-posts13,
  .homepage-posts2,
  .homepage-posts3,
  .homepage-posts4,
  .homepage-posts5,
  .homepage-posts6,
  .homepage-posts9 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .homepage-posts17,
  .load-indicator,
  .load-indicator1 {
    padding-bottom: var(--padding-355xl);
    box-sizing: border-box;
  }
  .load-indicator1 {
    padding-bottom: var(--padding-337xl);
  }
}
